@import url(normalize.css);
@font-face {
  font-family: "Proxima Nova Light";
  src: url("/static/fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300; }

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("/static/fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 400; }

@font-face {
  font-family: "Proxima Nova ExtraBold";
  src: url("/static/fonts/ProximaNova-Extrabold.otf") format("opentype");
  font-weight: 500; }

/* line 19, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
body {
  font-family: "Proxima Nova Light";
  color: white; }

/* line 40, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h1 {
  font-size: 108px;
  margin: 10px 0;
  font-weight: 400; }

/* line 46, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h2 {
  font-size: 72px;
  margin: 10px 0;
  font-weight: 400; }

/* line 52, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h3 {
  font-size: 48px;
  margin: 10px 0;
  font-weight: 400; }

/* line 58, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h4 {
  font-size: 36px;
  margin: 10px 0;
  font-weight: 400; }

/* line 64, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h5 {
  font-size: 32px;
  margin: 10px 0;
  font-weight: 400; }

/* line 70, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h6 {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 400; }

/* line 76, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
p {
  font-size: 24px; }

/* line 80, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
a {
  color: white; }

/* line 84, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 91, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.mlh #trust_badge {
  position: fixed;
  top: 0;
  right: 10px;
  max-width: 100px;
  width: 10%;
  min-width: 60px;
  display: block;
  z-index: 10000; }
  /* line 101, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  .mlh #trust_badge img {
    width: 100%; }

/* line 107, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
input {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  color: #fff;
  padding: 5px;
  border: none;
  border: 2px solid #fff;
  font-size: 20px;
  height: 25px; }
  /* line 118, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  input[type="submit"], input[type="button"] {
    height: 39px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
    /* line 122, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
    input[type="submit"]:hover, input[type="button"]:hover {
      background-color: #fff;
      color: #000; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  /* line 145, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  from {
    opacity: 0; }
  /* line 146, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes slide-in {
  from {
    bottom: -100px; }
  to {
    bottom: 0; } }

@-moz-keyframes slide-in {
  from {
    bottom: -100px; }
  to {
    bottom: 0; } }

@-o-keyframes slide-in {
  from {
    bottom: -100px; }
  to {
    bottom: 0; } }

@keyframes slide-in {
  from {
    bottom: -100px; }
  to {
    bottom: 0; } }

@-webkit-keyframes slide-out {
  to {
    bottom: -100px; } }

@-moz-keyframes slide-out {
  to {
    bottom: -100px; } }

@-o-keyframes slide-out {
  to {
    bottom: -100px; } }

@keyframes slide-out {
  to {
    bottom: -100px; } }

/* line 192, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.flashes {
  width: 100%;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  animation: slide-in 0.75s, slide-out 0.75s;
  -o-animation: slide-in 0.75s, slide-out 0.75s;
  -moz-animation: slide-in 0.75s, slide-out 0.75s;
  -webkit-animation: slide-in 0.75s, slide-out 0.75s;
  animation-delay: 0s, 3s;
  -o-animation-delay: 0s, 3s;
  -moz-animation-delay: 0s, 3s;
  -webkit-animation-delay: 0s, 3s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }
  /* line 214, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  .flashes li {
    list-style: none; }
    /* line 217, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
    .flashes li p {
      margin: 0;
      font-size: 1.2em;
      padding: 1% 5%;
      color: #fff;
      display: inline-block;
      vertical-align: bottom; }
      /* line 225, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
      .flashes li p.success {
        background-color: #2ecc71; }
      /* line 229, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
      .flashes li p.error {
        background-color: #e74c3c; }
      /* line 233, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
      .flashes li p.warning {
        background-color: #f39c12; }

/* line 2, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_buttons.scss */
.buttons.horizontal {
  display: inline-block;
  margin: 10px 0 0 0; }

/* line 7, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_buttons.scss */
.buttons .btn {
  background-color: rgba(66, 160, 255, 0.5);
  outline: none;
  box-shadow: none;
  color: #fff;
  padding: 10px;
  border: none;
  font-size: 20px;
  text-decoration: none;
  margin-right: 10px; }

/* line 2, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
.page-container .page-section {
  width: 100vw;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: table; }
  /* line 12, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
  .page-container .page-section .container {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative; }
    /* line 19, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
    .page-container .page-section .container .header {
      text-align: center;
      background: no-repeat center center scroll;
      background-size: cover; }
      /* line 24, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
      .page-container .page-section .container .header .head-cover {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        padding: 10% 0; }
      /* line 30, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
      .page-container .page-section .container .header .title {
        margin: 0; }
      /* line 34, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
      .page-container .page-section .container .header img {
        width: 150px; }
    /* line 39, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
    .page-container .page-section .container .info {
      text-align: left;
      margin: 5%;
      line-height: 32px;
      color: #000; }

/* line 1, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
#home {
  height: 100vh;
  background: url(https://s3.amazonaws.com/hackbcawebsite/landing.png) no-repeat center center scroll;
  color: #fff; }
  /* line 6, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
  #home .container {
    background-color: rgba(0, 0, 0, 0.5); }
    /* line 9, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
    #home .container .cover {
      padding-left: 10%; }
      /* line 12, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
      #home .container .cover .content {
        color: #fff; }
        /* line 15, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
        #home .container .cover .content #title {
          font-size: 108px;
          font-weight: 400;
          margin-bottom: 0;
          padding-bottom: 0; }
        /* line 22, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
        #home .container .cover .content #description {
          font-size: 48px; }
        /* line 26, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
        #home .container .cover .content #info-container {
          font-size: 24px;
          width: 100%; }
          /* line 30, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
          #home .container .cover .content #info-container #date {
            font-weight: 300; }

/* line 1, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
#about {
  background: white; }
  /* line 4, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
  #about .container {
    vertical-align: top; }
    /* line 8, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
    #about .container .cover .content {
      text-align: center; }
      /* line 11, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
      #about .container .cover .content .header {
        background-image: url(/web_static/DSC_1938.JPG); }
        /* line 14, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
        #about .container .cover .content .header .head-cover {
          padding: 10% 0 1% 0; }
      /* line 19, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
      #about .container .cover .content .info {
        text-align: left;
        margin: 5%;
        line-height: 32px;
        color: #000; }

/* line 5, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_whenwhere.scss */
#whenwhere .container .cover .content #map-container {
  width: 100%;
  height: 400px; }

/*# sourceMappingURL=../style.scss.css.map */