@import url(normalize.css);
@font-face {
  font-family: "Proxima Nova Light";
  src: url("/static/fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300; }

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("/static/fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 400; }

@font-face {
  font-family: "Proxima Nova ExtraBold";
  src: url("/static/fonts/ProximaNova-Extrabold.otf") format("opentype");
  font-weight: 500; }

/* line 19, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
body {
  font-family: "Proxima Nova Light";
  color: white; }

/* line 40, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h1 {
  margin: 10px 0; }

/* line 44, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h2 {
  margin: 10px 0; }

/* line 48, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
a {
  color: white; }

/* line 52, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 59, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.mlh #trust_badge {
  position: fixed;
  top: 0;
  right: 10px;
  max-width: 100px;
  width: 10%;
  min-width: 60px;
  display: block;
  z-index: 10000; }
  /* line 69, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  .mlh #trust_badge img {
    width: 100%; }

/* line 75, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
input {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  color: #fff;
  padding: 5px;
  border: none;
  border: 2px solid #fff;
  font-size: 20px;
  height: 25px; }
  /* line 86, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  input[type="submit"], input[type="button"] {
    height: 39px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
    /* line 90, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
    input[type="submit"]:hover, input[type="button"]:hover {
      background-color: #fff;
      color: #000; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  /* line 113, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  from {
    opacity: 0; }
  /* line 114, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes slide-in {
  from {
    bottom: -100px; }
  to {
    bottom: 0; } }

@-moz-keyframes slide-in {
  from {
    bottom: -100px; }
  to {
    bottom: 0; } }

@-o-keyframes slide-in {
  from {
    bottom: -100px; }
  to {
    bottom: 0; } }

@keyframes slide-in {
  from {
    bottom: -100px; }
  to {
    bottom: 0; } }

@-webkit-keyframes slide-out {
  to {
    bottom: -100px; } }

@-moz-keyframes slide-out {
  to {
    bottom: -100px; } }

@-o-keyframes slide-out {
  to {
    bottom: -100px; } }

@keyframes slide-out {
  to {
    bottom: -100px; } }

/* line 160, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.flashes {
  width: 100%;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  animation: slide-in 0.75s, slide-out 0.75s;
  -o-animation: slide-in 0.75s, slide-out 0.75s;
  -moz-animation: slide-in 0.75s, slide-out 0.75s;
  -webkit-animation: slide-in 0.75s, slide-out 0.75s;
  animation-delay: 0s, 3s;
  -o-animation-delay: 0s, 3s;
  -moz-animation-delay: 0s, 3s;
  -webkit-animation-delay: 0s, 3s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

/* line 183, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.flashes li {
  list-style: none; }

/* line 187, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.flashes li p {
  margin: 0;
  font-size: 1.2em;
  padding: 1% 5%;
  color: #fff;
  display: inline-block;
  vertical-align: bottom; }

/* line 196, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.flashes li.success {
  background-color: #2ecc71; }

/* line 200, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.flashes li.error {
  background-color: #e74c3c; }

/* line 204, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.flashes li.warning {
  background-color: #f39c12; }

/* line 2, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
.page-container .page-section {
  width: 100%;
  display: table; }
  /* line 6, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
  .page-container .page-section .container {
    display: table-cell;
    vertical-align: middle;
    padding: 10%; }

/* line 1, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
.logo {
  width: 200px; }

/* line 3, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
#home {
  width: 100%;
  height: 100%;
  padding: 0;
  background: url(https://s3.amazonaws.com/hackbcawebsite/landing.png) no-repeat center center scroll;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  /* line 14, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
  #home .container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: relative; }
    /* line 21, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
    #home .container .cover .content {
      color: #fff;
      text-align: center; }
      /* line 25, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
      #home .container .cover .content #title {
        font-size: 144px;
        font-weight: 400;
        margin-bottom: 0;
        padding-bottom: 0; }
      /* line 32, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
      #home .container .cover .content #description {
        font-weight: 400;
        margin: 2% 0 0 0; }
      /* line 37, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
      #home .container .cover .content #date-container {
        width: 100%;
        text-align: center;
        margin-top: 1%; }
        /* line 42, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
        #home .container .cover .content #date-container #date {
          font-weight: 300; }

/* line 1, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
#about {
  width: 100%;
  height: 100%;
  padding: 0;
  background: url(https://s3.amazonaws.com/hackbcawebsite/about.JPG) no-repeat center center scroll;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  /* line 12, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
  #about .container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: relative; }
    /* line 19, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
    #about .container .cover .content {
      color: #fff;
      text-align: center; }
      /* line 25, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
      #about .container .cover .content .info p {
        display: inline-block;
        vertical-align: middle;
        text-align: justify;
        line-height: 2em;
        width: 40%; }
      /* line 33, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
      #about .container .cover .content .info img {
        display: inline-block;
        vertical-align: middle;
        border-radius: 100px;
        width: 200px;
        height: 200px; }

/*# sourceMappingURL=../style.scss.css.map */