@import url(normalize.css);
/* line 1, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Proxima Nova Light";
  src: url("/static/fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300; }

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("/static/fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 400; }

@font-face {
  font-family: "Proxima Nova ExtraBold";
  src: url("/static/fonts/ProximaNova-Extrabold.otf") format("opentype");
  font-weight: 500; }

/* line 25, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
body {
  font-family: "Proxima Nova Light";
  color: white; }

/* line 46, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h1 {
  font-size: 108px;
  margin: 10px 0;
  font-weight: 400; }

/* line 52, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h2 {
  font-size: 72px;
  margin: 10px 0;
  font-weight: 400; }

/* line 58, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h3 {
  font-size: 48px;
  margin: 10px 0;
  font-weight: 400; }

/* line 64, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h4 {
  font-size: 36px;
  margin: 10px 0;
  font-weight: 400; }

/* line 70, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h5 {
  font-size: 32px;
  margin: 10px 0;
  font-weight: 400; }

/* line 76, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
h6 {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 400;
  font-weight: bold; }

/* line 83, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
p {
  font-size: 20px; }

/* line 87, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
a {
  color: white; }

/* line 91, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 98, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.mlh #trust_badge {
  position: fixed;
  top: 0;
  right: 10px;
  max-width: 100px;
  width: 10%;
  min-width: 60px;
  display: block;
  z-index: 10000; }
  /* line 108, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  .mlh #trust_badge img {
    width: 100%; }

/* line 114, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
input {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  color: #fff;
  padding: 5px;
  border: none;
  border: 2px solid #fff;
  font-size: 20px;
  height: 25px; }
  /* line 125, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  input[type="submit"], input[type="button"] {
    height: 39px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
    /* line 129, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
    input[type="submit"]:hover, input[type="button"]:hover {
      background-color: #fff;
      color: #000; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  /* line 152, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  from {
    opacity: 0; }
  /* line 153, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes slide-in {
  from {
    bottom: -100px; }
  to {
    bottom: 0; } }

@-moz-keyframes slide-in {
  from {
    bottom: -100px; }
  to {
    bottom: 0; } }

@-o-keyframes slide-in {
  from {
    bottom: -100px; }
  to {
    bottom: 0; } }

@keyframes slide-in {
  from {
    bottom: -100px; }
  to {
    bottom: 0; } }

@-webkit-keyframes slide-out {
  to {
    bottom: -100px; } }

@-moz-keyframes slide-out {
  to {
    bottom: -100px; } }

@-o-keyframes slide-out {
  to {
    bottom: -100px; } }

@keyframes slide-out {
  to {
    bottom: -100px; } }

/* line 199, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.flashes {
  width: 100%;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  animation: slide-in 0.75s, slide-out 0.75s;
  -o-animation: slide-in 0.75s, slide-out 0.75s;
  -moz-animation: slide-in 0.75s, slide-out 0.75s;
  -webkit-animation: slide-in 0.75s, slide-out 0.75s;
  animation-delay: 0s, 3s;
  -o-animation-delay: 0s, 3s;
  -moz-animation-delay: 0s, 3s;
  -webkit-animation-delay: 0s, 3s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }
  /* line 221, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  .flashes li {
    list-style: none; }
    /* line 224, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
    .flashes li p {
      margin: 0;
      font-size: 1.2em;
      padding: 1% 5%;
      color: #fff;
      display: inline-block;
      vertical-align: bottom; }
      /* line 232, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
      .flashes li p.success {
        background-color: #2ecc71; }
      /* line 236, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
      .flashes li p.error {
        background-color: #e74c3c; }
      /* line 240, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
      .flashes li p.warning {
        background-color: #f39c12; }

/* line 247, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
.pure-g {
  letter-spacing: initial; }
  /* line 250, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_global.scss */
  .pure-g [class*="pure-u"] {
    font-family: "Proxima Nova Light"; }

/* line 1, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_navbar.scss */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(43, 147, 201, 0.75); }
  /* line 8, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_navbar.scss */
  .navbar ul {
    margin: 0;
    padding: 0;
    text-align: center; }
    /* line 13, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_navbar.scss */
    .navbar ul li {
      margin: 0;
      list-style: none;
      color: white;
      display: inline-block;
      padding: 20px 50px; }
      /* line 20, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_navbar.scss */
      .navbar ul li a {
        text-decoration: none; }
        /* line 23, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_navbar.scss */
        .navbar ul li a p {
          padding: 0;
          margin: 0; }
      /* line 29, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_navbar.scss */
      .navbar ul li:hover {
        background-color: white;
        color: black; }

/* line 2, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_buttons.scss */
.buttons.horizontal {
  display: inline-block;
  margin: 10px 0 0 0; }

/* line 7, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_buttons.scss */
.buttons .btn {
  background-color: rgba(43, 147, 201, 0.75);
  outline: none;
  box-shadow: none;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 20px;
  text-decoration: none;
  margin-right: 10px; }

/* line 2, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
.page-container .page-section {
  width: 100vw;
  padding: 0;
  display: table; }
  /* line 7, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
  .page-container .page-section .container {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative; }
    /* line 14, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
    .page-container .page-section .container .header {
      text-align: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: scroll;
      background-repeat: no-repeat;
      background-position: center; }
      /* line 24, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
      .page-container .page-section .container .header .head-cover {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        padding: 7.5% 0; }
      /* line 30, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
      .page-container .page-section .container .header .title {
        margin: 0; }
    /* line 35, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_index.scss */
    .page-container .page-section .container .info {
      text-align: left;
      margin: 10%;
      line-height: 32px;
      color: #000; }

/* line 1, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
#home {
  height: 100vh;
  background-image: url(https://s3.amazonaws.com/hackbcawebsite/landing.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff; }
  /* line 13, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
  #home .container {
    background-color: rgba(0, 0, 0, 0.5); }
    /* line 16, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
    #home .container .cover {
      padding: 0 10%; }
      /* line 19, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
      #home .container .cover .content {
        color: #fff; }
        /* line 22, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_home.scss */
        #home .container .cover .content #title {
          margin-bottom: 0;
          padding-bottom: 0; }

/* line 1, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
#about {
  background: white; }
  /* line 4, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
  #about .container {
    vertical-align: top; }
    /* line 8, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
    #about .container .cover .content {
      text-align: center; }
      /* line 11, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
      #about .container .cover .content .header {
        background-image: url(https://s3.amazonaws.com/hackbcawebsite/landing.png); }
        /* line 13, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
        #about .container .cover .content .header .head-cover {
          padding: 2.5%; }
          /* line 16, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_about.scss */
          #about .container .cover .content .header .head-cover .logo {
            width: 200px; }

/* line 5, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_whenwhere.scss */
#whenwhere .container .cover .content #map-container {
  width: 100%;
  height: 400px; }

/* line 3, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_faq.scss */
#faq .container .info {
  justify-content: center;
  text-align: center; }
  /* line 8, /Users/robertkim/dev/hackbcathree/application/mod_web/web_static/css/sass/_faq.scss */
  #faq .container .info .q-contain .question {
    margin: 0 10px; }

/*# sourceMappingURL=../style.scss.css.map */