{% extends "user_base.html" %}

{% block content %}
<div class="page-container">
  <div class="page-section" id="account">
    <div class="container">
      <div class="header">
        <div class="head-cover">
          <img class="logo" src="https://s3.amazonaws.com/hackbcawebsite/logo.png">
          <h2>Account</h2>
        </div>
      </div>
      <div class="info {{ status }}">
        <h2>Application Status: <span>{{ status }}</span></h2>
        <div class="buttons horizontal">
          <a href="/account/application" class="btn" type="button">Edit Application</a>
          <a href="/account/settings" class="btn" type="button">Account Settings</a>
        </div>
        <h3 class="message">We will notify your email by February!</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}
