{% extends "user_base.html" %}

{% block content %}
<div class="page-container">
  <div class="page-section" id="register">
    <div class="container">
      <div class="cover">
        <div class="content">
          <img class="logo" src="https://s3.amazonaws.com/hackbcawebsite/logo.png">
          <h2>Login</h2>
          <form method="POST" action="">
            {% for field in form %}
              {{ render_field(field) }}
            {% endfor %}
            <div class="buttons">
              <button class="btn" type="submit">Login!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
