<header class="navbar">
  <nav class="nav-collapse">
    <ul>
      <li class="menu-item active"><a href="#home" data-scroll><p>Home</p></a></li>
      <li class="menu-item"><a href="#about" data-scroll><p>About</p></a></li>
      <li class="menu-item"><a href="#whenwhere" data-scroll><p>Info</p></a></li>
      <li class="menu-item"><a href="#faq" data-scroll><p>FAQ</p></a></li>
      <li class="menu-item"><a href="#guests" data-scroll><p>Guests</p></a></li>
      <li class="menu-item"><a href="#sponsors" data-scroll><p>Sponsors</p></a></li>
      <li class="menu-item"><a href="#contact" data-scroll><p>Contact</p></a></li>
    </ul>
  </nav>
</header>