<header class="navbar">
  <nav class="nav-collapse">
    <ul>
      <li class="menu-item active">
        <a href="{% if active_page != 'index' %}/{% endif %}#home" data-scroll>
          <p>Home</p>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% if active_page != 'index' %}/{% endif %}#about" data-scroll>
          <p>About</p>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% if active_page != 'index' %}/{% endif %}#whenwhere" data-scroll>
          <p>Info</p>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% if active_page != 'index' %}/{% endif %}#faq" data-scroll>
          <p>FAQ</p>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% if active_page != 'index' %}/{% endif %}#guests" data-scroll>
          <p>Guests</p>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% if active_page != 'index' %}/{% endif %}#sponsors" data-scroll>
          <p>Sponsors</p>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% if active_page != 'index' %}/{% endif %}#contact" data-scroll>
          <p>Contact</p>
        </a>
      </li>
    </ul>
  </nav>
</header>