#about {
  background: white;

  .container {
    vertical-align: top;

    .cover {
      .content {
        text-align: center;

        .header {

          .head-cover {
            padding: 2.5%;
            
            .logo {
              width: 200px;
            }
          }
          background-image: url(https://s3.amazonaws.com/hackbcawebsite/landing.png);
        }
      }
    }
  }
}