#about {
  background: white;

  .container {
    vertical-align: top;

    .cover {
      .content {
        text-align: center;

        .header {

          .head-cover {
            padding: 2.5%;
          }
          background-image: url($asset_url_prefix + "whatishackbca.jpg");
        }
      }

      .info {
        .images {
          .i-contain {
            margin: 2% 0;

            .image {
              margin: 0 10px;
            }
          }
        }
      }
    }
  }
}