#about {
  background: white;

  .container {
    vertical-align: top;

    .cover {
      .content {
        text-align: center;

        .header {

          .head-cover {
            padding: 2.5%;
          }
          background-image: url(https://s3.amazonaws.com/hackbcawebsite/whatishackbca.jpg);
        }
      }

      .info {
        .images {
          .i-contain {
            margin-top: 2%;

            .image {
              margin: 0 10px;
            }
          }
        }
      }
    }
  }
}