#about {
  background: white;

  .container {
    vertical-align: top;

    .header {
      .head-cover {
        padding: 2.5%;
      }
      background-image: url($asset_url_prefix + "whatishackbca.jpg");
    }

    .info {
      .images {
        .i-contain {
          margin: 2% 0;

          .image {
            margin: 0 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #about {
    .container {
      .header {
        .head-cover {
          padding: 12.5% 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #about {
    .container {
      .header {
        .head-cover {
          padding: 25% 0;
        }
      }
    }
  }
}