#faq {
  .container {

    .header {
      background-image: url($asset_url_prefix + "faq.jpg");
    }

    .info {
      text-align: center;

      .q-contain {
        .question {
          margin: 0 10px;
          text-align: left;
        }
      }
    }
  }
}