#faq {
  .container {

    .header {
      background-image: url($asset_url_prefix + "faq.jpg");
    }

    .info {
      text-align: left;
      .pure-g {

        .q-contain {
          .question {
            text-align: left;
            margin: 0 10px;
          }
        }
      }
    }
  }
}