#faq {
  .container {
    .header {
      background-image: url(https://s3.amazonaws.com/hackbcawebsite/faq.jpg);
    }

    .info {
      text-align: center;

      .q-contain {
        .question {
          margin: 0 10px;
        }
      }
    }
  }
}