#home {
  height: 100vh;
  background: url(https://s3.amazonaws.com/hackbcawebsite/landing.png) no-repeat center center scroll;
  color: #fff;

  .container {
    background-color: rgba(0, 0, 0, 0.5);

    .cover {
      padding-left: 10%;

      .content {
        color: #fff;

        #title {
          font-size: 108px;
          font-weight: 400;
          margin-bottom: 0;
          padding-bottom: 0;
        }

        #description {
          font-size: 48px;
        }

        #info-container {
          font-size: 24px;
          width: 100%;

          #date {
            font-weight: 300;
          }
        }
      }
    }
  }
}