.page-container {
  .page-section {
    width: 100%;
    padding: 0;
    display: table;

    .container {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      position: relative;

      .header {
        text-align: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;

        .head-cover {
          background-color: rgba(0, 0, 0, 0.5);
          height: 100%;
          padding: 7.5% 0;
        }

        .title {
          margin: 0;
        }
      }

      .info {
        text-align: left;
        margin: 10%;
        line-height: 32px;
        color: #000;

        a {
          color: $blue-color-fallback;
          color: $blue-color;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-container {
    .page-section {
      .container {
        .header {
          .head-cover {
            padding: 15% 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page-container {
    .page-section {
      .container {
        .header {
          .head-cover {
            padding: 30% 0;
          }
        }
      }
    }
  }
}