.bg-img {
    position: absolute;
    display: table;
    min-height:100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(https://s3.amazonaws.com/hackbcawebsite/landing.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;

    .container {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        height: 50%;
        text-align: center;
        z-index: 9999;

        .cover {
            display: inline-block;
            color: white;

            .logo {
                margin: auto;
                top: 0; right: 0; bottom: 0; left: 0;
                width: 250px;
                height: 250px;
                opacity: 0;
                @include animation(fadein, 3s, 1.5s, forwards);
            }

            .text {
                opacity: 0;
                @include animation(fadein, 3s, 3.75s, forwards);
            }

            .sponsor {
                opacity: 0;
                margin-top: 20px;
                @include animation(fadein, 3s, 6s, forwards);

                h2 {
                    margin: 5px;
                }

                &.mobile {
                    display: none;
                }
            }
        }
    }
}

.hackbcatwo {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 9999;
    bottom: 5px;
    right: 5px;
}

.no-cssanimations {
    .bg-img {
        .container {
            .cover {
                .logo {
                    animation: none;
                    opacity: 1;
                }
                .text {
                    animation: none;
                    opacity: 1;
                }
                .sponsor {
                    animation: none;
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .bg-img {
        .container {
            .cover {
                .sponsor {
                    &.mobile {
                        display: block;
                    }
                    &.no-mobile {
                        display: none;
                    }
                }
            }
        }
    }
}

/* YAY FOR VENDOR PREFIXES */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* YAY FOR VENDOR PREFIXES */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* YAY FOR VENDOR PREFIXES */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* YAY FOR VENDOR PREFIXES */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* YAY FOR VENDOR PREFIXES */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}