.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: 50px;
  background-color: $blue-color-fallback;
  background-color: $blue-color;

  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;

    li {
      margin: 0;
      list-style: none;
      color: white;
      display: inline-block;
      line-height: 2.4;
      width: 12.5%;
      height: 100%;
      padding: 0;

      a {
        text-decoration: none;

        p {
          padding: 0;
          margin: 0;
          height: 100%;
        }
      }

      &:hover {
        background-color: $blue-fade-color-fallback;
        background-color: $blue-fade-color;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
}