#rules, #code {
  .container {
    .info {
      max-width: 1200px;
      margin: 0 auto;
      text-align: justify;
    }
  }
}

#rules {
  .container {
    .header {
      background-image: url($asset_url_prefix + "faq.jpg");
    }
  }
}

#code {
  .container {
    .header {
      background-image: url($asset_url_prefix + "contact.jpg");
    }
  }
}