#sponsors {
  .container {
    .header {
      background-image: url($asset_url_prefix + "sponsors.jpg");
    }
    .info {
      text-align: center;

      .tier {
        margin-bottom: 2.5%;

        h3 {
          margin-bottom: 2.5%;
        }

        .pure-g {
          -webkit-justify-content: center;
          justify-content: center;
          
          a {
            div {
              float: none;
              height: 200px;
              background-position: center center !important;
              background-origin: content-box !important;
              padding: 0 30px !important;
              background-size: contain !important;
              background-repeat: no-repeat !important;

              @media screen and (max-width: 1024px) { height: 150px; }
            }
          }
        }
      }
    }
  }
}

