#sponsors {
  .container {
    .header {
      background-image: url($asset_url_prefix + "sponsors.jpg");
    }
    .info {
      text-align: center;

      .tier {
        margin-bottom: 2.5%;

        h3 {
          margin-bottom: 2.5%;
        }

        .pure-g {
          -webkit-justify-content: center;
          justify-content: center;
          
          a {
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}