#whenwhere {
  .container {
    .cover {
      .content {

        .header {
          background-image: url(https://s3.amazonaws.com/hackbcawebsite/whenandwhere.jpg);
        }

        #map-container {
          width: 100%;
          height: 400px;
        }
      }
    }
  }  
}