#whenwhere {
  .container {
    .cover {
      .content {

        .header {
          background-image: url($asset_url_prefix + "whenandwhere.jpg");
        }

        .info {
          .where {
            margin: 0;
          }
        }

        #map-container {
          width: 100%;
          height: 400px;
        }
      }
    }
  }  
}


@media screen and (max-width: 768px) {
  #whenwhere {
    .container {
      .cover {
        .content {
          #map-container {
            height: 300px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #whenwhere {
    .container {
      .cover {
        .content {
          #map-container {
            height: 200px;
          }
        }
      }
    }
  }
}