$blue-color-fallback: #2B93C9;
$blue-fade-color-fallback: #96D3DC;

$blue-color: rgba(43, 147, 201, 0.75);
$blue-fade-color: rgba(150, 211, 220, 0.75);

$asset_url_prefix: "https://s3.amazonaws.com/hackbcawebsite/";
// $asset_url_prefix: "/static/local/";

@import "_index.scss";
@import "_home.scss";
@import "_about.scss";
@import "_whenwhere.scss";
@import "_faq.scss";
@import "_guests.scss";
@import "_sponsors.scss";
@import "_footer.scss";