#account {
  .container {
    .header {
      background-image: url(https://s3.amazonaws.com/hackbcawebsite/landing.png);

      .head-cover {
        .logo {
          width: 200px;
          height: 200px;
        }
      }
    }
  } 
}