#application {
  .container {
    .header {
      background-image: url($asset_url_prefix + "landing.png");
    }

    .info {
      .form-elt {
        input, textarea, select {
          width: 50%;
        }

        textarea {
          max-width: 50%;
          height: 200px;
        }

        p {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #application {
    .container {
      .info {
        .form-elt {
          input, textarea, select {
            width: 75%;
          }

          textarea {
            max-width: 75%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #application {
    .container {
      .header {
        .head-cover {
          padding: 15% 0;
        }
      }

      .info {
        .form-elt {
          input, textarea, select {
            width: 85%;
          }
          textarea {
            max-width: 85%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #application {
    .container {
      .info {
        .form-elt {
          input, textarea, select {
            width: 100%;
            margin-bottom: 5%;
          }
          textarea {
            max-width: 100%;
          }
        }
      }
    }
  }
}