#application {
  .container {
    .header {
      background-image: url($asset_url_prefix + "landing.png");
    }

    .info {
      .form-elt {
        input, textarea, select {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #application {
    .container {
      .info {
        input, textarea, select {
          width: 75%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #application {
    .container {
      .info {
        input, textarea, select {
          width: 85%;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #application {
    .container {
      .info {
        input, textarea, select {
          width: 100%;
        }
      }
    }
  }
}