.buttons {
  &.horizontal {
    display: inline-block;
    margin: 10px 0 0 0;
  }

  .btn {
    background-color: rgba(43, 147, 201, 0.75);
    outline: none;
    box-shadow: none;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
  }
}
