.page-container {
  .page-section {
    width: 100%;
    padding: 0;
    display: table;

    .container {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      position: relative;

      .header {
        text-align: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;

        .head-cover {
          background-color: rgba(0, 0, 0, 0.5);
          height: 100%;
          padding: 7.5% 0;
        }

        .title {
          margin: 0;
        }
      }

      .info {
        padding: 5%;
        text-align: center;
        color: #202020;

        .form-elt {
          input, textarea, select {
            background-color: rgba(200, 200, 200, 1);
            color: #000;
          }

          select {
            color: #fff;
          }

          ::-webkit-input-placeholder {
            color: #fff;
          }

          :-moz-placeholder {
            color: #fff;
          }

          ::-moz-placeholder {
            color: #fff;
          }

          :-ms-input-placeholder {
            color: #fff;
          }

          &.error {

            input, textarea, select {
              border: 5px #e74c3c solid;
            }
          }

          .error-msg {
            margin-top: 0;
          }
        }
        .buttons {
          margin-bottom: 2%;
        }
      }
    }
  }
}

.full-page-container {
  .page-section {
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0;
    display: table;

    .container {
      background-color: rgba(0, 0, 0, 0.5);
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      position: relative;

      .cover {
        .content {
          color: #fff;
          input, textarea, select {
            width: 25%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .full-page-container {
    .page-section {
      .container {
        .cover {
          .content {
            input, textarea, select {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .full-page-container {
    .page-section {
      .container {
        .cover {
          .content {
            input, textarea, select {
              width: 75%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .full-page-container {
    .page-section {
      .container {
        .cover {
          .content {
            input, textarea, select {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page-container {
    .page-section {
      .container {
        .header {
          .head-cover {
            padding: 17.5% 0;
          }
        }

        .info {
          .form-elt {
            input, textarea, select {
              margin-bottom: 5%;
            }
            textarea {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}