.page-container {
  .page-section {
    width: 100%;
    padding: 0;
    display: table;

    .container {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      position: relative;

      .header {
        text-align: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;

        .head-cover {
          background-color: rgba(0, 0, 0, 0.5);
          height: 100%;
          padding: 7.5% 0;
        }

        .title {
          margin: 0;
        }
      }

      .info {
        padding: 5%;
        text-align: center;
        color: #000;

        .form-elt {
          input, textarea, select {
            background-color: rgba(200, 200, 200, 1);
            color: #000;
          }

          select {
            color: #fff;
          }

          ::-webkit-input-placeholder {
            color: #fff;
          }

          :-moz-placeholder {
            color: #fff;
          }

          ::-moz-placeholder {
            color: #fff;
          }

          :-ms-input-placeholder {
            color: #fff;
          }

          &.error {

            input, textarea, select {
              border: 5px #e74c3c solid;
            }
          }

          .error-msg {
            // display: none;
            margin-top: 0;
          }
        }
        .buttons {
          margin-bottom: 2%;
        }
      }
    }
  }
}