#paths {
  .container {
    .header {
      background-image: url($asset_url_prefix + "whenandwhere.jpg");
    }
    .info {
      .pure-g {
        .path-contain {
          margin: 10% 20px;
          height: 100%;
          
          .img-contain {
            min-height: 100px;
            margin-bottom: 20px;

            .pure-img {
              display: inline-block;
              max-height: 100px;

              &.bca {
                max-width: 20%;
              }

              &.twilio {
                max-width: 70%;
              }
            }
          }
        }
      }
    }
  }
}