#register {
  .container {
    .header {
      background-image: url($asset_url_prefix + "whatishackbca.jpg"); 
    }

    .info {
      input, textarea, select {
        width: 25%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #register {
    .container {
      .info {
        input, textarea, select {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #register {
    .container {
      .header {
        .head-cover {
          padding: 15% 0;
        }
      }
      
      .info {
        input, textarea, select {
          width: 75%;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #register {
    .container {
      .info {
        input, textarea, select {
          width: 100%;
          margin-bottom: 5%;
        }
      }
    }
  }
}