#rsvp {
  .container {
    .header {
      background-image: url($asset_url_prefix + "landing.png");
    }

    .info {
      form {
        max-width: 1024px;
        margin: 0 auto;

        &> p {
          max-width: 75%;
          margin: 0 auto;
        }
      }

      .form-elt {
        input, textarea, select {
          width: 75%;
          color: #202020;
        }

        select:first-child {
          color: #fff;
        }

        p {
          margin-top: 0;
        }

        ul {
          li {
            width: 24.5%;

            @media screen and (max-width: 1024px) {
              width: 37%;
            }

            @media screen and (max-width: 768px) {
              width: 42%; 
            }

            @media screen and (max-width: 480px) {
              width: 49.5%;
            }
          }
        }

        #attending {
          [value="Attending"], [value="Not Attending"] {

            ~ label {
              background-color: #c8c8c8;
              position: relative;
              float: left;
              padding: 15px 30px;
              width: 100%;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              font-size: 20px;
              
              &:before {
                position: absolute;
                display: block;
                left: 0;
                content: '';
                width: 2em;
              }
            }

            &:checked {
              ~ label {
                color: #fff;

                &:before {
                  color: #fff;
                }
              }
            }
          }

          [value="Attending"] {
            ~ label {
              &:before {
                content:'\2714';
                color: #c8c8c8;
              }
            }

            &:hover:not(:checked) {
              ~ label {
                &:before {
                  content:'\2714';
                  color: #2ecc71;
                }
              }
            }

            &:checked {
              ~ label {
                background-color: #2ecc71;

                &:before {
                  content:'\2714';
                }
              }
            }
          }

          [value="Not Attending"] {
            ~ label {
              &:before {
                content:'\2717';
                color: #c8c8c8;
              }
            }

            &:hover:not(:checked) {
              ~ label {
                &:before {
                  content:'\2717';
                  color: #e74c3c;
                }
              }
            }

            &:checked {
              ~ label {
                background-color: #e74c3c;

                &:before {
                  content:'\2717';
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #rsvp {
    .container {
      .info {
        form {
          .form-elt {
            input, textarea, select {
              width: 75%;
            }

            textarea {
              max-width: 75%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #rsvp {
    .container {
      .info {
        form {
          .form-elt {
            input, textarea, select {
              width: 85%;
            }
            textarea {
              max-width: 85%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #rsvp {
    .container {
      .info {
        form {
          .form-elt {
            input, textarea, select {
              width: 100%;
            }
            textarea {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}