$blue-color-fallback: #2B93C9;
$blue-fade-color-fallback: #96D3DC;

$blue-color: rgba(43, 147, 201, 0.75);
$blue-fade-color: rgba(150, 211, 220, 0.75);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("/static/fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
}

body {
  font-family: "Proxima Nova Light", Helvetica, sans-serif;
  color: white;
}

@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

h1 {
  font-size: 108px;
  margin: 10px 0;
  font-weight: 400;
}

h2 {
  font-size: 72px;
  margin: 10px 0;
  font-weight: 400;
}

h3 {
  font-size: 48px;
  margin: 10px 0;
  font-weight: 400;
}

h4 {
  font-size: 36px;
  margin: 10px 0;
  font-weight: 400;
}

h5 {
  font-size: 32px;
  margin: 10px 0;
  font-weight: 400;
}

h6 {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 400;
  font-weight: bold;
}

p {
  font-size: 20px;
}

.logo {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 768px) {
  h1 {font-size: 72px;}
  h2 {font-size: 48px;}
  h3 {font-size: 36px;}
  h4 {font-size: 32px;}
  h5 {font-size: 24px;}
  h6 {font-size: 20px;}
  p {font-size: 16px;}

  .logo {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  h1 {font-size: 48px;}
  h2 {font-size: 36px;}
  h3 {font-size: 32px;}
  h4 {font-size: 24px;}
  h5 {font-size: 20px;}
  h6 {font-size: 18px;}
  p {font-size: 16px;}

  .logo {
    width: 100px;
    height: 100px;
  }
}

a {
  color: $blue-color-fallback;
  color: $blue-color;

  &:hover {
    color: $blue-fade-color-fallback;
    color: $blue-fade-color;
  }
}

.hide {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.mlh {
  #trust_badge {
    position: fixed;
    top: 0;
    right: 10px;
    max-width: 100px;
    width: 10%;
    min-width: 60px;
    display: block;
    z-index: 10000;

    img {
      width: 100%;
    }
  }
}

input, textarea, select {
  background-color: #c8c8c8;
  background-color: rgba(200, 200, 200, 0.5);
  outline: none;
  box-shadow: none;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 0;
  font-size: 20px;
  margin-bottom: 1%;
}

select {
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image: url(/static/chevrondown.png);
   background-position: 100%;
   background-repeat: no-repeat;
   background-size: 50px;

   &::-ms-expand {
    display: none;
   }
}

::-webkit-input-placeholder {
  color: rgb(215, 215, 215);
}

:-moz-placeholder {
  color: rgb(215, 215, 215);
}

::-moz-placeholder {
  color: rgb(215, 215, 215);  
}

:-ms-input-placeholder {  
  color: rgb(215, 215, 215);  
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



@-webkit-keyframes slide-in {
  from { bottom: -100px; }
  to { bottom: 0; }
}

@-moz-keyframes slide-in {
  from { bottom: -100px; }
  to { bottom: 0; }
}

@-o-keyframes slide-in {
  from { bottom: -100px; }
  to { bottom: 0; }
}

@keyframes slide-in {
  from { bottom: -100px; } 
  to { bottom: 0; }
}

@-webkit-keyframes slide-out {
  to { bottom: -100px; }
}

@-moz-keyframes slide-out {
  to { bottom: -100px; }
}

@-o-keyframes slide-out {
  to { bottom: -100px; }
}

@keyframes slide-out {
  to { bottom: -100px; }
}

.flashes {
  width: 100%;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  animation: slide-in 0.75s;
  -o-animation: slide-in 0.75s;
  -moz-animation: slide-in 0.75s;
  -webkit-animation: slide-in 0.75s;
  animation-delay: 0s;
  -o-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-fill-mode: forwards; 
  -o-animation-fill-mode: forwards; 
  -moz-animation-fill-mode: forwards; 
  -webkit-animation-fill-mode: forwards; 
  
  &.fade-out {
    animation: slide-out 0.75s;
    -o-animation: slide-out 0.75s;
    -moz-animation: slide-out 0.75s;
    -webkit-animation: slide-out 0.75s;
    animation-delay: 0s;
    -o-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-fill-mode: forwards; 
    -o-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 
  }

  li {
    list-style: none;

    &.success {
      background-color: #2ecc71;
    }

    &.error {
      background-color: #e74c3c;
    }

    &.warning {
      background-color: #f39c12;
    }

    &.neutral {
      background-color: #3498db;
    }

    .close {
      display: inline-block;
      top: auto;
      bottom: auto;
      position: absolute;  
      right: 12px;
      height: 100%;

      .icon-container {
        position: relative;
        height: 100%;

        .close-icon {
          cursor: pointer;

          position: absolute;
          right: 0px;
          top: 50%;

          font-size: 24px;
          height: 24px;
          margin-top: -12px;
        }
      }
    }

    p {
      margin: 0;
      font-size: 1.2em;
      padding: 1% 5%;
      color: #fff;
      display: inline-block;
      vertical-align: bottom;

      @media screen and (max-width: 768px) {
        padding: 2.5% 5%;
      }
      @media screen and (max-width: 480px) {
        padding: 5% 5%; 
      }
    }
  }
}

.pure-g {
  letter-spacing: initial;
  text-align: center;

  [class *="pure-u"] {
    font-family: "Proxima Nova Light", Helvetica;
  }
}

.full-page-container {
  .page-section {
    background-image: url($asset_url_prefix + "whatishackbca.jpg");
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0;
    display: table;

    .container {
      background-color: rgba(0, 0, 0, 0.5);
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      position: relative;

      .cover {
        .content {
          color: #fff;
          input, textarea, select {
            width: 25%;
          }
        }
      }
    }
  }
}