$blue-color-fallback: #2B93C9;
$blue-fade-color-fallback: #96D3DC;

$blue-color: rgba(43, 147, 201, 0.75);
$blue-fade-color: rgba(150, 211, 220, 0.75);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("/static/fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("/static/fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 400; 
}

@font-face {
  font-family: "Proxima Nova ExtraBold";
  src: url("/static/fonts/ProximaNova-Extrabold.otf") format("opentype");
  font-weight: 500; 
}

body {
  font-family: "Proxima Nova Light", Helvetica;
  color: white;
}

@mixin animation($name, $duration, $delay, $fill-mode) {
  -webkit-animation: $name $duration $delay $fill-mode;
  -moz-animation: $name $duration $delay $fill-mode;
  -ms-animation: $name $duration $delay $fill-mode;
  -o-animation: $name $duration $delay $fill-mode;
  animation: $name $duration $delay $fill-mode;
}

@mixin transition($name, $duration, $function) {
  -webkit-transition: $name $duration $function;
  -moz-transition: $name $duration $function;
  -ms-transition: $name $duration $function;
  -o-transition: $name $duration $function;
  transition: $name $duration $function;
}

h1 {
  font-size: 108px;
  margin: 10px 0;
  font-weight: 400;
}

h2 {
  font-size: 72px;
  margin: 10px 0;
  font-weight: 400;
}

h3 {
  font-size: 48px;
  margin: 10px 0;
  font-weight: 400;
}

h4 {
  font-size: 36px;
  margin: 10px 0;
  font-weight: 400;
}

h5 {
  font-size: 32px;
  margin: 10px 0;
  font-weight: 400;
}

h6 {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 400;
  font-weight: bold;
}

p {
  font-size: 20px;
}

.logo {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 768px) {
  h1 {font-size: 72px;}
  h2 {font-size: 48px;}
  h3 {font-size: 36px;}
  h4 {font-size: 32px;}
  h5 {font-size: 24px;}
  h6 {font-size: 20px;}
  p {font-size: 16px;}

  .logo {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  h1 {font-size: 48px;}
  h2 {font-size: 36px;}
  h3 {font-size: 32px;}
  h4 {font-size: 24px;}
  h5 {font-size: 20px;}
  h6 {font-size: 18px;}
  p {font-size: 16px;}

  .logo {
    width: 100px;
    height: 100px;
  }
}

a {
  color: $blue-color-fallback;
  color: $blue-color;

  &:hover {
    color: $blue-fade-color-fallback;
    color: $blue-fade-color;
  }
}

.hide {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.mlh {
  #trust_badge {
    position: fixed;
    top: 0;
    right: 10px;
    max-width: 100px;
    width: 10%;
    min-width: 60px;
    display: block;
    z-index: 10000;

    img {
      width: 100%;
    }
  }
}

input, textarea, select {
  background-color: #c8c8c8;
  background-color: rgba(200, 200, 200, 0.5);
  outline: none;
  box-shadow: none;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 0;
  font-size: 20px;
  margin-bottom: 1%;
}

select {
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image: url(/static/chevrondown.png);
   background-position: 100%;
   background-repeat: no-repeat;
   background-size: 50px;

   &::-ms-expand {
    display: none;
   }
}

::-webkit-input-placeholder {
  color: rgb(215, 215, 215);
}

:-moz-placeholder {
  color: rgb(215, 215, 215);
}

::-moz-placeholder {
  color: rgb(215, 215, 215);  
}

:-ms-input-placeholder {  
  color: rgb(215, 215, 215);  
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



@-webkit-keyframes slide-in {
  from { bottom: -100px; }
  to { bottom: 0; }
}

@-moz-keyframes slide-in {
  from { bottom: -100px; }
  to { bottom: 0; }
}

@-o-keyframes slide-in {
  from { bottom: -100px; }
  to { bottom: 0; }
}

@keyframes slide-in {
  from { bottom: -100px; } 
  to { bottom: 0; }
}

@-webkit-keyframes slide-out {
  to { bottom: -100px; }
}

@-moz-keyframes slide-out {
  to { bottom: -100px; }
}

@-o-keyframes slide-out {
  to { bottom: -100px; }
}

@keyframes slide-out {
  to { bottom: -100px; }
}

.flashes {
  width: 100%;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  animation: slide-in 0.75s, slide-out 0.75s;
  -o-animation: slide-in 0.75s, slide-out 0.75s;
  -moz-animation: slide-in 0.75s, slide-out 0.75s;
  -webkit-animation: slide-in 0.75s, slide-out 0.75s;
  animation-delay: 0s, 3s;
  -o-animation-delay: 0s, 3s;
  -moz-animation-delay: 0s, 3s;
  -webkit-animation-delay: 0s, 3s;
  animation-fill-mode: forwards; 
  -o-animation-fill-mode: forwards; 
  -moz-animation-fill-mode: forwards; 
  -webkit-animation-fill-mode: forwards; 

  li {
    list-style: none;

    &.success {
      background-color: #2ecc71;
    }

    &.error {
      background-color: #e74c3c;
    }

    &.warning {
      background-color: #f39c12;
    }

    p {
      margin: 0;
      font-size: 1.2em;
      padding: 1% 5%;
      color: #fff;
      display: inline-block;
      vertical-align: bottom;
    }
  }
}

.pure-g {
  -webkit-justify-content: center;
  justify-content: center;
  letter-spacing: initial;
  text-align: center;

  [class *="pure-u"] {
    font-family: "Proxima Nova Light", Helvetica;
  }
}