<div class="container">
  <div class="header">
    <div class="head-cover">
      <img class="logo" src="https://s3.amazonaws.com/hackbcawebsite/logo.png">
      <h2 class="title">What is hackBCA?</h2>
    </div>
  </div>
  <div class="info">
    <p><a target="_blank" href="http://www.nj.com/bergen/index.ssf/2015/03/student-organized_hackathon_focuses_on_girls_under.html">hackBCA III</a> is the third annual hackathon hosted at the Bergen County Academies high school in Hackensack, New Jersey. Created and planned solely by students, hackBCA is open to all high school students who are interested in exploring computer science. Prior programming experience is not needed: hackBCA is an open floor to anyone who wants to create.</p>

    <div class="images pure-g">
      <div class="i-contain pure-u-xl-1-3 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-2-5">
        <div class="image">
          <img class="pure-img" src="https://s3.amazonaws.com/hackbcawebsite/whatishackbcapic01.jpg">
        </div>
      </div>
      <div class="i-contain pure-u-xl-1-3 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-2-5">
        <div class="image">
          <img class="pure-img" src="https://s3.amazonaws.com/hackbcawebsite/whatishackbcapic02.jpg">
        </div>
      </div>
      <div class="i-contain pure-u-xl-1-3 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-2-5">
        <div class="image">
          <img class="pure-img" src="https://s3.amazonaws.com/hackbcawebsite/whatishackbcapic03.jpg">
        </div>
      </div>
    </div>

    <h3>Paths</h3>
    <p>Are you a beginner or in need of guidance? Paths will lead the way! At the beginning of hackBCA, you will be able to choose a path. Within each path, you will be able to attend workshops, group sessions, and be able to win prizes related to their path. More information about Paths will be provided at the event.</p>

    <h3>Scholarship Program</h3>
    <p>Our scholarship program brings high schoolers from local underserved communities to the hackathon, covering any travel costs, and provides them with a free laptop. By doing this, we hope to give these students the power to make their ideas a reality. If you’re interested in bringing this program to your school, contact us at <a target="_blank" href="mailto:contact@hackbca.com">contact@hackBCA.com</a>.</p>
  </div>
</div>
