<div class="container">
  <div class="header">
    <div class="head-cover">
      <h2 class="title">FAQ</h2>
    </div>
  </div>
  <div class="info">
    <div class="pure-g">
      <div class="q-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-1">
        <div class="question">
          <h6>What is a hackathon?</h6>
          <p>A hackathon is an overnight coding event in which teams spend the weekend “hacking” together to create an awesome project like a game, website, or app! Hackathons are a great way to learn more about coding, meet new people, and build something cool. Check out <a target="_blank" href="https://medium.com/hackathons-anonymous/wtf-is-a-hackathon-92668579601#.8ndtcasdw">Dave Fontenot's post</a> on "What is a hackathon?" to learn more!</p>
        </div>
      </div>
      <div class="q-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-1">
        <div class="question">
          <h6>What if I don't know how to code?</h6>
          <p>Then you’ve come to the right place! hackBCA is open to students of all levels and beginners are encouraged to come. Hackathons provide an awesome opportunity to dive into programming. At hackBCA, workshops and mentors will help you get started with the basics of programming and you’ll leave our hackathon having learned a lot.</p>
        </div>
      </div>
      <div class="q-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-1">
        <div class="question">
          <h6>What should I bring?</h6>
          <p>You should bring your laptop or desktop, school ID, phone, charging cables, and any hardware you plan on using. Power strips, personal hygiene products, and an extra set of clothes are also recommended. Mainly, bring your awesome self!</p>
        </div>
      </div>
      <div class="q-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-1">
        <div class="question">
          <h6>How much does this event cost?</h6>
          <p>It’s free! And food will be provided free of cost. We will consider sending a bus to your area with this <a target="_blank" href="https://docs.google.com/forms/d/13hI3e6gFuYJGpfQ3ckqAqIgpSW8uth9hGPD2C6XTNDU/viewform">form</a>. Unfortunately, we will not be reimbursing any other travel arrangements for this year's event.</p>
        </div>
      </div>
      <div class="q-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-1">
        <div class="question">
          <h6>Who can attend?</h6>
          <p>Any student in high school can attend! You do not have to attend BCA or be from the US. If you need help convincing your parents, contact us at <a href="mailto:contact@hackbca.com">contact@hackBCA.com</a>.</p>
        </div>
      </div>
      <div class="q-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-1">
        <div class="question">
          <h6>How do teams work?</h6>
          <p>You can work on a project individually or with a team. You can come as a team, or form a team at the event. For more information on teams, check out our rules.</p>
        </div>
      </div>
      <div class="q-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-1">
        <div class="question">
          <h6>Can I start my hack before the event?</h6>
          <p>Nope! Please don’t start your hack until after the kickoff ceremony if you plan to submit it for judging.</p>
        </div>
      </div>
      <div class="q-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-1">
        <div class="question">
          <h6>How and when do I submit my hack?</h6>
          <p>You must submit your hack by 11:30 AM on Sunday, but you can still work on them after 11:30 AM. We will be sending out the details of where to submit your hack on Sunday.</p>
        </div>
      </div>
    </div>
    <h6>Have another question? Ask us at <a target="_blank" href="mailto:contact@hackbca.com">contact@hackBCA.com</a>!</h6>
  </div>
</div>
