<div class="container">
  <div class="header">
    <div class="head-cover">
      <h2 class="title">Special Guests</h2>
    </div>
  </div>
  <div class="info">
    <div class="pure-g">
      <div class="g-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-2 pure-u-1-1">
        <div class="guest">
          <img class="pure-img" src="https://s3.amazonaws.com/hackbcawebsite/guests/chris_wanstrath.jpg">
          <h5 class="name">Chris Wanstrath</h5>
          <h6 class="role">Keynote Speaker</h6>
          <p>Cofounder &amp; CEO of <a target="_blank" href="https://github.com">Github</a></p>
        </div>
      </div>
      <div class="g-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-2 pure-u-1-1">
        <div class="guest">
          <img class="pure-img" src="https://s3.amazonaws.com/hackbcawebsite/guests/tom_lehman.jpg">
          <h5 class="name">Tom Lehman</h5>
          <h6 class="role">Emcee</h6>
          <p>Cofounder &amp; CEO of <a target="_blank" href="http://genius.com/">Genius</a></p>
        </div> 
      </div>
      <div class="g-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-2 pure-u-1-1">
        <div class="guest">
          <img class="pure-img" src="https://s3.amazonaws.com/hackbcawebsite/guests/jeremy_rossman.jpg">
          <h5 class="name">Jeremy Rossman</h5>
          <h6 class="role">Speaker</h6>
          <p>Cofounder &amp; Cofounder of <a target="_blank" href="https://www.makeschool.com/apply?utm_campaign=HackBCA%202016&utm_medium=website&utm_source=On%20HackBCA%27s%20website%20%28Link%20for%20our%20logo%20and%20Jeremy%27s%20profile%29.">MakeSchool</a></p>
        </div> 
      </div>
      <div class="g-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-2 pure-u-1-1">
        <div class="guest">
          <img class="pure-img" src="https://s3.amazonaws.com/hackbcawebsite/guests/cindy_gallop.jpg">
          <h5 class="name">Cindy Gallop</h5>
          <h6 class="role">Judge</h6>
          <p>Founder &amp; CEO of <a target="_blank" href="http://ifwerantheworld.com/">If We Ran the World</a></p>
        </div> 
      </div>
      <div class="g-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-2 pure-u-1-1">
        <div class="guest">
          <img class="pure-img" src="https://s3.amazonaws.com/hackbcawebsite/guests/tea_ho.jpg">
          <h5 class="name">Tea Ho</h5>
          <h6 class="role">Judge</h6>
          <p>Product Designer @ <a target="_blank" href="http://www.donorschoose.org/">DonorsChoose.org</a></p>
        </div> 
      </div>
      <div class="g-contain pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-2 pure-u-1-1">
        <div class="guest">
          <img class="pure-img" src="https://s3.amazonaws.com/hackbcawebsite/guests/kate_machtiger.jpg">
          <h5 class="name">Kate Machtiger</h5>
          <h6 class="role">Judge</h6>
          <p>Senior Analyst @ <a target="_blank" href="http://www.luminary-labs.com/">Luminary Labs</a></p>
        </div> 
      </div>
    </div>
  </div>
</div>
