{% extends "web.base.html" %}

{% set nav_bar = [
  ("#home", "Home", True),
  ("#about", "About", False),
  ("#whenwhere", "Info", False),
  ("#faq", "FAQ", False),
  ("#schedule", "Schedule", False),
  ("#guests", "Guests", False),
  ("#sponsors", "Sponsors", False)
] -%}

{% block header %}{% endblock %}

{% block content %}
  {% with nav_bar = nav_bar %}
    {% include "navbar.html" %}
  {% endwith %}
  <div class="page-container">
    <section>
      <div class="page-section" id="home">
        {% include "web.home.html" %}
      </div>
    </section>
    <section>
      <div class="page-section" id="about">
        {% include "web.about.html" %}
      </div>
    </section>
    <section>
      <div class="page-section" id="whenwhere">
        {% include "web.whenwhere.html" %}
      </div>
    </section>
    <section>
      <div class="page-section" id="faq">
        {% include "web.faq.html" %}
      </div>
    </section>
    <section>
      <div class="page-section" id="schedule">
        {% include "web.schedule.html" %}
      </div>
    </section>
    <section>
      <div class="page-section" id="guests">
        {% include "web.guests.html" %}
      </div>
    </section>
    <section>
      <div class="page-section" id="sponsors">
        {% include "web.sponsors.html" %}
      </div>
    </section>
  </div>
{% endblock %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">
  function initialize() {
    var mapCanvas = document.getElementById("map-container");
    var mapOptions = {
      scrollwheel: false,
      center: new google.maps.LatLng(40.90220, -74.033752),
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(40.90220, -74.033752),
      title: "Bergen County Academies"
    });
    var map = new google.maps.Map(mapCanvas, mapOptions);
    marker.setMap(map);
  }
  google.maps.event.addDomListener(window, "load", initialize);
</script>
{% endblock %}