<div class="container">
  <div class="header">
    <div class="head-cover">
      <h2 class="title">Schedule</h2>
    </div>
  </div>
  <div class="info">
    <div class="pure-g">
      {% for date in schedule %}
        <div class="pure-u-xl-1-2 pure-u-lg-1-2 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1">
          <div class="day-pad">
            <h3 class="date">{{ date }}</h3>
            {% for time in schedule[date] %}
              <h6>
                <span>{{ time["time"] }}</span> - 
                {{ time["event"] }} 
                {% if time["location"] %}
                  @ {{ time["location"] }}
                {% endif %}
              </h6>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
