<div class="container">
  <div class="header">
    <div class="head-cover">
      <h2 class="title">Schedule</h2>
    </div>
  </div>
  <div class="info">
    <div class="pure-g">
      <div class="pure-u-xl-1-2 pure-u-lg-1-2 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1">
        <div class="day-pad">
          <h3 class="date">Saturday, April 02</h3>
          <h6><span>1:30 PM</span> - Registration Begins @ Auditorium Foyer</h6>
          <h6><span>3:00 PM</span> - Opening Ceremony Begins @ Auditorium</h6>
          <h6><span>4:30 PM</span> - Opening Ceremony Ends, Hacking Begins @ Gym, Lower Cafeteria, Upper Cafeteria, Basement Hallway</h6>
          <h6><span>6:30 PM</span> - Dinner @ Lower Cafeteria</h6>
          <h6><span>11:00 PM</span> - Snack @ Lower Cafeteria</h6>
        </div>
      </div>
      <div class="pure-u-xl-1-2 pure-u-lg-1-2 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1">
        <div class="day-pad">
          <h3 class="date">Sunday, April 03</h3>
          <h6><span>2:00 AM</span> - Pizza @ Lower Cafeteria</h6>
          <h6><span>7:30 AM</span> - Breakfast @ Lower Cafeteria</h6>
          <h6><span>11:30 AM</span> - Lunch @ Lower Cafeteria</h6>
          <h6><span>12:30 PM</span> - Hacks Must be Submitted</h6>
          <h6><span>1:00 PM</span> - Demos Begin @ Gym, Upper Cafeteria</h6>
          <h6><span>3:00 PM</span> - Demos End, Closing Ceremony Begins @ Auditorium</h6>
          <h6><span>4:00 PM</span> - Hackathon Ends</h6>
        </div>
      </div>
    </div>
  </div>
</div>
