<div class="container">
  <div class="header">
    <div class="head-cover">
      <h2 class="title">Sponsors</h2>
    </div>
  </div>
  <div class="info">
    <div class="tier" id="cohost">
      <h3>Cohosted By:</h3>
      <div class="pure-g">
        <div class="sponsor pure-u-xl-1-2 pure-u-lg-1-2 pure-u-md-1-2 pure-u-sm-3-5 pure-u-1-1">
          <a href="https://software.intel.com/" target="_blank">
            <div id="pure-img intel" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/intel.png);"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="tier" id="beta">
      <div class="pure-g">
        <div class="sponsor pure-u-xl-1-3 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-2 pure-u-1-1">
          <a href="http://roughdraft.vc/" target="_blank">
            <div id="pure-img rdv" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/roughdraft.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-3 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-2 pure-u-1-1">
          <a href="http://www.boozallen.com/" target="_blank">
            <div id="pure-img boozallen" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/boozallen.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-3 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-2 pure-u-1-1">
          <a href="http://www.goldmansachs.com/" target="_blank">
            <div id="pure-img goldmansachs" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/goldmansachs.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-3 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-1-2 pure-u-1-1">
          <a href="https://www.twilio.com/" target="_blank">
            <div id="pure-img twilio" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/twilio.png);"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="tier" id="alpha">
      <div class="pure-g">
        <div class="sponsor pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-3 pure-u-sm-1-2 pure-u-2-3">
          <a href="https://www.janestreet.com/" target="_blank">
            <div id="pure-img janestreet" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/janestreet.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-3 pure-u-sm-1-2 pure-u-2-3">
          <a href="http://www.cloudera.com/about-cloudera/cloudera-cares.html" target="_blank">
            <div id="pure-img ci" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/clouderacares.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-3 pure-u-sm-1-2 pure-u-2-3">
          <a href="https://www.github.com/" target="_blank">
            <div id="pure-img github" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/github.png);"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="tier" id="nm">
      <div class="pure-g">
        <div class="sponsor pure-u-xl-1-6 pure-u-l-1-5 pure-u-md-1-4 pure-u-sm-1-3 pure-u-2-5">
          <a href="https://genius.com" target="_blank">
            <div id="pure-img genius" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/genius.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-6 pure-u-l-1-5 pure-u-md-1-4 pure-u-sm-1-3 pure-u-2-5">
          <a href="https://www.mozilla.com/" target="_blank">
            <div id="pure-img mozillla" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/mozilla.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-6 pure-u-l-1-5 pure-u-md-1-4 pure-u-sm-1-3 pure-u-2-5">
          <a href="http://www.weare.ci/" target="_blank">
            <div id="pure-img ci" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/ci.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-6 pure-u-l-1-5 pure-u-md-1-4 pure-u-sm-1-3 pure-u-2-5">
          <a href="http://get.tech/" target="_blank">
            <div id="pure-img dottech" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/dottech.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-6 pure-u-l-1-5 pure-u-md-1-4 pure-u-sm-1-3 pure-u-2-5">
          <a href="http://livestream.com/" target="_blank">
            <div id="pure-img livestream" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/livestream.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-6 pure-u-l-1-5 pure-u-md-1-4 pure-u-sm-1-3 pure-u-2-5">
          <a href="https://www.startupvitamins.com/" target="_blank">
            <div id="pure-img startupvitamins" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/startupvitamins.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-6 pure-u-l-1-5 pure-u-md-1-4 pure-u-sm-1-3 pure-u-2-5">
          <a href="http://www.clarifai.com/" target="_blank">
            <div id="pure-img clarifai" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/clarifai.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-2-5 pure-u-3-5">
          <a href="https://www.instituteforwellness.com/" target="_blank">
            <div id="pure-img iwe" class="" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/iwe.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-2-5 pure-u-3-5">
          <a href="http://www.stickermule.com/" target="_blank">
            <div id="pure-img stickermule" class="" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/stickermule.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-2-5 pure-u-3-5">
          <a href="https://www.makeschool.com/" target="_blank">
            <div id="pure-img makeschool" class="" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/makeschool.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-2-5 pure-u-3-5">
          <a href="https://undergroundshirts.com/" target="_blank">
            <div id="pure-img ugp" class="" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/ugp.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-2-5 pure-u-3-5">
          <a href="https://hacker.fund/" target="_blank">
            <div id="pure-img hackerfund" class="" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/hackerfund.png);"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="tier" id="partnership">
      <h3>In Partnership with:</h3>
      <div class="pure-g">
        <div class="sponsor pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-2-5 pure-u-3-5">
          <a href="https://mlh.io" target="_blank">
            <div id="pure-img mlh" class="" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/mlh.png);"></div>
          </a>
        </div>
        <div class="sponsor pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2 pure-u-sm-2-5 pure-u-3-5">
          <a href="http://bcts.bergen.org/" target="_blank">
            <div id="pure-img atcs" class="" style="background-image:url(https://s3.amazonaws.com/hackbcawebsite/sponsors/atcs.png);"></div>
          </a>
        </div>
      </div>
    </div>
    <h6 id="interested">Interested in sponsoring? Talk to us at <a href="mailto:contact@hackbca.com">contact@hackbca.com</a>!</h6>
  </div>
</div>
