{% extends "user.base.html" %}

{% set nav_bar = [
  ("/#home", "Home", False),
  ("/account/application", "Application", True),
  ("/account/settings", "Settings", False)
] -%}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}

{% set can_edit = (current_user.status in ["Not Started", "In Progress"]) %}
<div class="page-container">
  <div class="page-section" id="application">
    <div class="container">
      <div class="header">
        <div class="head-cover">
          <img class="logo" src="https://s3.amazonaws.com/hackbcawebsite/logo.png">
          <h2>Application</h2>
          <h4>Tell us about yourself!</h4>
        </div>
      </div>
      <div class="info">
        <form class="application-form" method="POST" action="">
          <h4>{{ current_user.full_name() }}</h4>
          <h4>{{ "Hacker" if current_user.hacker else "Mentor" }}</h4>
          {% for field in form %}
            {% if field == form.mlh_terms  %}
              {{ form.mlh_terms.label }}
              <br>The MLH Code of Conduct is available <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">here.</a> </br>
              {{ render_field(field, not can_edit) }}
            {% else %}
              {{ render_field(field, not can_edit) }}
            {% endif %}
          {% endfor %}

          <div class="buttons horizontal">
            <button class="btn" type="submit" name="save" {{ "disabled" if not can_edit }}>Save</button>
            <button class="btn" onclick="verify_submit(); return false;">Submit</button>
          </div>
          <div class="buttons horizontal hide" id="verify-submit">
            <h6>Are you sure?</h6>
            <button class="btn" type="submit" name="submit" {{ "disabled" if not can_edit }}>Yes</button>
            <button class="btn" onclick="decline_verify(); return false;">No</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var verify_submit = function() {
    var button_group = document.getElementById("verify-submit");
    button_group.classList.toggle("hide");
  }

  var decline_verify = function() {
    var button_group = document.getElementById("verify-submit");
    button_group.classList.toggle("hide");
  }

  var char_counter = function() {
    questions = document.querySelectorAll("textarea");
    console.log(questions);
    for (var i = 0; i < questions.length; i++) {
      questions[i].onkeyup = function () {
        document.querySelector(".count#" + this.id).innerHTML = "Characters left: " + (500 - this.value.length);
      }
      document.querySelector(".count#" + questions[i].id).innerHTML = "Characters left: " + (500 - questions[i].value.length);
    }
  }

  char_counter();
</script>
{% endblock %}
