{% extends "user.base.html" %}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}

{% set can_edit = (current_user.status in ["Not Started", "In Progress"]) %}
<div class="page-container">
  <div class="page-section" id="settings">
    <div class="container">
      <div class="header">
        <div class="head-cover">
          <img class="logo" src="https://s3.amazonaws.com/hackbcawebsite/logo.png">
          <h2>Paths</h2>
        </div>
      </div>
      <div class="info">
        <div class="current-path">
          {% if user_path != None %}
            <h6>You are currently registered for the
              {% if user_path == 'code-for-good' %}
                Code for Good
              {% elif user_path == 'ios' %}
                iOS
              {% elif user_path == 'web-dev' %}
                Web Development
              {% endif %}
              path. 
            </h6>
          {% endif %}
        </div>
        <div class="codeforgood">
          Code For Good
          <p>Short Description</p>
          <a class="btn" href="/paths/code-for-good">More Info</a>
        </div>
        <div class="ios">
          iOS
          <p>Short Description</p>
          <a class="btn" href="/paths/ios">More Info</a>
        </div>
        <div class="webdev">
          Web Development
          <p>Short Description</p>
          <a class="btn" href="/paths/webdev">More Info</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}