{% extends "user.base.html" %}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}

<div class="page-container">
  <div class="page-section" id="settings">
    <div class="container">
      <div class="header">
        <div class="head-cover">
          <img class="logo" src="https://s3.amazonaws.com/hackbcawebsite/logo.png">
          <h2>
            {% if path_name == "code-for-good" %}
              Code For Good
            {% elif path_name == "ios" %}
              iOS
            {% elif path_name == "web-dev" %}
              Web Development
            {% endif %}
          <h2>
        </div>
      </div>
      <div class="info">
        <div id="description">
          {% if path_name == "code-for-good" %}
            Your challenge for the Code for Good path will be to create an app, website, game, etc. that uses gamification and/or other forms of persuasive technology to help people practice their communications skills and connect on a deeper level. Some examples of these skills are using active listening skills and asking open-ended questions; not interrupting, arguing, name calling, giving unsolicited advice, or judging. IWE will provide many examples and scenarios of bad and good communications skills.
          {% elif path_name == "ios" %}
            You will be guided through official Make School material with Jeremy Rossman, the co-founder of Make School, and a couple other experts from the Make School team. Together, you will go from learning the basics of Swift to building official Apple sample apps and eventually your very own app! You will learn to use real tools and technologies that today’s leading companies use to build their own iOS applications to create a unique and useful app. Again, please note that to participate, you <strong><em>MUST</em></strong> have a Mac with the latest version of Xcode already installed; the Xcode download is <strong>massive</strong> and so you must download and install it prior to arriving at hackBCA.
          {% elif path_name == "web-dev" %}
            The Web Development path will take you from zero to having a fully functional dynamic website. Throughout the Web Development path, you will learn both frontend and backend design, as well as how to interface with outside services such as Twilio to create unique and useful applications. You will learn how to use HTML and CSS to code the frontend, and Python with Flask to program the backend. If these words mean nothing to you, don’t fret! Unicorn Foundry’s co-founders Tim Lupo and Neel Patel-Shah, Jay Mo, Jared Zoneraich, and Twilio will teach you everything you need to know and more.
          {% endif %}
        </div>
        <div id="schedule">
          {% if path_name == "code-for-good" %}
            Persuasive Technology I, Focus on Human Behavior: What Makes People “Tick,” or Why People Click and the Science of Behavior Change. 
            5:30 PM - 6:30 PM (Saturday)
            Persuasive Technology II, Focus on Digital Components: Design Principles that Trigger and Reinforce Human Behavior
            8:00 PM - 9:00 PM (Saturday)
            Pitch competition
            Time T.B.A.
          {% elif path_name == "ios" %}
            Core iOS Session
            Jeremy and the Make School team will guide you through the process of building your own application! All throughout Saturday, you will get a handle for how to make your own iOS app.
            4:30 PM - 11:00 PM (there will be breaks for dinner, etc.)
            iOS Design
            In this workshop, the Make School team will teach you the fundamentals of good iOS design, as well as how to successfully follow Apple’s guidelines to create apps that are pleasant for the use.
            8:30 AM - 9:30 AM
          {% elif path_name == "web-dev" %}
            The Basics (optional, highly recommended for never coded before)
            Learn the very basics of programming — if statements, loops, functions, and more in this one hour session led by Unicorn Foundry’s Tim Lupo and Neel Patel-Shah.
            4:30 PM - 5:30 PM
            Frontend
            Jay Mo will be teaching you the fundamental technologies behind how websites are designed: HTML, CSS, and Javascript. Here you will learn how to create beautiful static websites that are absolutely fundamental in creating a good web application.
            5:45 PM - 6:45 PM
            Flask
            In this workshop, Jared Zoneraich, the founder of hackBCA, will teach you how to create dynamic websites using Flask and Python as your backend stack. When combined with the Frontend workshop, you will have all the tools you need to create beautiful, useful web applications!
            8:00 PM - 9:00 PM
            How to Use APIs
            The ability for your app to interact with other services is vital in today’s ecosystem. Twilio will guide you through how exactly your web application can communicate with other applications, and provide amazing cross-app services.
            8:30 AM - 9:30 AM
          {% endif %}
        </div>
        <div id="prizes">
          {% if path_name == "code-for-good" %}
          {% elif path_name == "ios" %}
          {% elif path_name == "web-dev" %}
          {% endif %}
        </div>
        <form>
          <button class="btn" method="POST" action="" name="register">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}