{% extends "user.base.html" %}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}

{% set can_edit = current_user.attending not in ["Attending", "Not Attending", "Expired"] %}

<div class="page-container">
  <div class="page-section" id="rsvp">
    <div class="container">
      <div class="header">
        <div class="head-cover">
          <img class="logo" src="https://s3.amazonaws.com/hackbcawebsite/logo.png">
          <h4>Tell us if you're coming to hackBCA III!</h4>
        </div>
      </div>
      <div class="info">
        <form class="application-form" method="POST" action="" onSubmit = "">
          <h4>{{ current_user.full_name() }}</h4>
          <h4>{{ current_user.type_account.capitalize() }}</h4>
          {% for field in form %}
            {% if field == form.attending  %}
              <div class="form-elt attending {% if field.errors %}error{% endif %}">
                <h6>Will you be at hackBCA?</h6>
                {{ field(placeholder = field.description, disabled = disabled) }}
                {% if field.errors %}
                  <p class="error-msg">{{ field.errors[0] }}</p>
                {% endif %}
              </div>
            {% elif field == form.hackbca_rules %}
              <div class="form-elt {% if field.errors %}error{% endif %}">
                <h6>{{ field.description }}</h6>
                <p>Our rules can be found <a href="/rules" target="_blank">here</a>.</p> <!-- Change Link to hackBCA Rules once created -->
                <ul class="checkboxes">
                  <li>
                    {{ field(disabled = not can_edit) }}
                    {{ field.label }}
                  </li>
                </ul>
                {% if field.errors %}
                  <p class="error-msg">{{ field.errors[0] }}</p>
                {% endif %}
              </div>
            {% elif field == form.mlh_terms %}
              <div class="form-elt {% if field.errors %}error{% endif %}">
                <h6>{{ field.description }}</h6>
                <p>The MLH Code of Conduct is available <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">here</a>.</p>
                <ul class="checkboxes">
                  <li>
                    {{ field(disabled = not can_edit) }}
                    {{ field.label }}
                  </li>
                </ul>
                {% if field.errors %}
                  <p class="error-msg">{{ field.errors[0] }}</p>
                {% endif %}
              </div>
            {% else %}
              {{ render_field(field, not can_edit) }}
            {% endif %}
          {% endfor %}

          <div class="buttons horizontal {{'hide' if not can_edit}}">
            <button class="btn" type="submit" name="save" {{ "disabled" if not can_edit }}>Save</button>
            <button class="btn" onclick="verify_submit(); return false;" {{ "disabled" if not can_edit }}>Submit*</button>
          </div>
          <div class="buttons horizontal hide" id="verify-submit">
            <h6>Are you sure?</h6>
            <button class="btn" type="submit" name="submit" {{ "disabled" if not can_edit }}>Yes</button>
            <button class="btn" onclick="decline_verify(); return false;">No</button>
          </div>
          <p>{{ "*" if can_edit }}We participate in Major League Hacking (MLH) as a MLH Member Event. You authorize us to share certain application/registration information for event administration, ranking, MLH administration, and occasional messages about hackathons in line with the MLH Privacy Policy.</p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

  var check_phone = function() {
      var phone_number = document.getElementById("phone");
      var numbers = phone_number.value.replace(/\D/g, '');
      if(numbers.length == 10 || numbers.length == 11 || numbers.length == 12){
          var finalstr = "";
          if(numbers.length == 10){
              finalstr += numbers.substr(0,3) + "-" + numbers.substr(3,3) + "-" + numbers.substr(6,4);
          }
          else if(numbers.length == 11){
              finalstr += "+" + numbers.substr(0,1) + "-" + numbers.substr(1,3) + "-" + numbers.substr(4,3) + "-" + numbers.substr(7,4);
           }
           else if(numbers.length == 12){
              finalstr += "+" + numbers.substr(0,2) + "-" + numbers.substr(2,3) + "-" + numbers.substr(5,3) + "-" + numbers.substr(8,4);
           }
           document.getElementById("phone").value = finalstr;
      }
  }
  var verify_submit = function() {
    var button_group = document.getElementById("verify-submit");
    button_group.classList.toggle("hide");
  }

  var decline_verify = function() {
    var button_group = document.getElementById("verify-submit");
    button_group.classList.toggle("hide");
  }

  var attending_button = document.querySelector("input#attending-0")
  var notAttending_button = document.querySelector("input#attending-1")

  hide_elts = function(hide) {
    var elts = document.querySelectorAll(".form-elt:not(.attending)");
    for (var i = 0; i < elts.length; i++) {
      if (hide) {
        elts[i].classList.add("hide");
      } else {
        elts[i].classList.remove("hide");
      }
    }
  }
  notAttending_button.onclick = function() {
    hide_elts(true);
  }
  attending_button.onclick = function() {
    hide_elts(false);
  }

  if ("{{ current_user.attending }}" == "Expired") {
    document.querySelector("input#attending-1").checked = true;
  }
  
  hide_elts(true);

  var attending_checked = document.querySelector("input[name='attending']:checked");
  if (attending_checked) attending_checked.click();
  
  if("{{current_user.attending}}" != "Undecided"){
    attending_button.setAttribute("disabled", "disabled");
    notAttending_button.setAttribute("disabled", "disabled");
  }

  function labelSimulateClick () {
    var labels = document.querySelectorAll("label");
    for (var i = 0; i < labels.length; i++) {
      labels[i].onclick = function() {
        var associated = this.getAttribute("for");
        var input = document.getElementById(associated);
        input.setAttribute("checked", "checked");
        input.click();
        if (input.id === "attending-0") {
          hide_elts(false);
        } else if (input.id === "attending-1") {
          hide_elts(true);
        }
      }
    }
  }

  labelSimulateClick();
</script>
{% endblock %}
