{% extends "user.base.html" %}

{% set nav_bar = [
  ("/#home", "Home", False)
] -%}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}
<div class="full-page-container">
  <div class="page-section" id="register">
    <div class="container">
      <div class="cover">
        <div class="content">
          <img class="logo" src="https://s3.amazonaws.com/hackbcawebsite/logo.png">
          <h3>Scholarship Registration</h3>
          <form method="POST" action="">
            {% for field in form %}
              {{ render_field(field) }}
            {% endfor %}
            <div class="buttons">
              <button class="btn" type="submit">Register!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}