{% extends "user.base.html" %}

{% set nav_bar = [
  ("/#home", "Home", False),
  ("/account/application", "Application", False),
  ("/account/settings", "Settings", True)
] -%}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}

{% set can_edit = (current_user.status in ["Not Started", "In Progress"]) %}
<div class="page-container">
  <div class="page-section" id="settings">
    <div class="container">
      <div class="header">
        <div class="head-cover">
          <img class="logo" src="https://s3.amazonaws.com/hackbcawebsite/logo.png">
          <h2>Account Settings</h2>
          <h4>Edit your settings here!</h4>
        </div>
      </div>
      <div class="info">
        <h5>Change your name</h5>
        <form id="name-form" method="POST" action="/account/settings">
          <input type="hidden" name="setting" value="name"/>
          {% for field in name_form %}
            {{ render_field(field) }}
          {% endfor %}
          <div class="buttons">
            <button class="btn" type="submit">Change Name</button>
          </div>
        </form>
        <h5>Change your password</h5>
        <form id="password-form" method="POST" action="/account/settings">
          <input type="hidden" name="setting" value="password"/>
          {% for field in password_form %}
            {{ render_field(field) }}
          {% endfor %}
          <div class="buttons">
            <button class="btn" type="submit">Change Password</button>
          </div>
        </form>
        <h5>Change your account type</h5>
        <form id="type_account-form" method="POST" action="/account/settings">
          <input type="hidden" name="setting" value="type_account"/>
          {% for field in account_type_form %}
            {{ render_field(field, disabled = not can_edit) }}
          {% endfor %}
          <button class="btn" id="change-account_type" onclick="verify_submit(); return false;" disabled>Change Account Type</button>
          <div class="horizontal hide" id="verify-submit">
            <h6>Are you sure?</h6>
            <h6>Your current application will be cleared.</h6>
            <button class="btn" type="submit" {{ "disabled" if not can_edit }}>Yes</button>
            <button class="btn" onclick="decline_submit(); return false;" {{ "disabled" if not can_edit }}>No</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var verify_submit = function() {
    var button_group = document.getElementById("verify-submit");
    button_group.classList.toggle("hide");
  }

  var decline_submit = function() {
    var button_group = document.getElementById("verify-submit");
    button_group.classList.toggle("hide");
  }

  document.getElementById("type_account").onchange = function(){
    var btn = document.getElementById("change-account_type");
    if(this.value == "{{ current_user.type_account }}"){
      decline_submit();
      btn.setAttribute("disabled", "disabled");
    }
    else{
      btn.removeAttribute("disabled");
    }
  }
</script>
{% endblock %}