{% extends "user.base.html" %}

{% set nav_bar = [
  ("/#home", "Home", False),
  ("/account/application", "Application", False),
  ("/account/settings", "Settings", True)
] -%}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}

{% set can_edit = (current_user.status in ["Not Started", "In Progress"]) %}
<div class="page-container">
  <div class="page-section" id="settings">
    <div class="container">
      <div class="header">
        <div class="head-cover">
          <img class="logo" src="https://s3.amazonaws.com/hackbcawebsite/logo.png">
          <h2>Account Settings</h2>
          <h4>Edit your settings here!</h4>
        </div>
      </div>
      <div class="info">
        <h5>Change your name</h5>
        <form id="name-form" method="POST" action="/account/settings">
          <input type="hidden" name="setting" value="name"/>
          {% for field in name_form %}
            {{ render_field(field) }}
          {% endfor %}
          <div class="buttons">
            <button class="btn" type="submit">Change Name</button>
          </div>
        </form>
        <h5>Change your password</h5>
        <form id="password-form" method="POST" action="/account/settings">
          <input type="hidden" name="setting" value="password"/>
          {% for field in password_form %}
            {{ render_field(field) }}
          {% endfor %}
          <div class="buttons">
            <button class="btn" type="submit">Change Password</button>
          </div>
        </form>
        <div class="{{'hide' if current_user.status == 'Submitted'}}">
          <h5>Change your account type</h5>
          <form id="type_account-form" method="POST" action="/account/settings">
            <input type="hidden" name="setting" value="type_account"/>
            <input type="hidden" name="type_account" value="{{ 'hacker' if current_user.type_account == 'mentor' else 'mentor' }}"/>

            <button class="btn" id="change-account_type" onclick="verify_submit(); return false;">Change to {{ "Hacker" if current_user.type_account == "mentor" else "Mentor" }}</button>
            <div class="horizontal hide" id="verify-submit">
              <h6>Are you sure?</h6>
              <h6>Your current application will be cleared.</h6>
              <button class="btn" type="submit" {{ "disabled" if not can_edit }}>Yes</button>
              <button class="btn" onclick="decline_submit(); return false;" {{ "disabled" if not can_edit }}>No</button>
            </div>
          </form>
        </div>
        <h5>Delete your account</h5>
        <form id="delete_account-form" method="POST" action="/account/settings">
          <input type="hidden" name="setting" value="delete_account"/>
          <button class="btn" id="delete-account" onclick="toggle_delete(); return false;">Delete Account</button>
          <div class="horizontal hide" id="verify-delete">
            <h6>Are you sure?</h6>
            <h6>Your account and application will be deleted.</h6>
            <button class="btn" type="submit">Yes</button>
            <button class="btn" onclick="toggle_delete(); return false;">No</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var verify_submit = function() {
    var button_group = document.getElementById("verify-submit");
    button_group.classList.toggle("hide");
  }

  var decline_submit = function() {
    var button_group = document.getElementById("verify-submit");
    button_group.classList.toggle("hide");
  }

  var toggle_delete = function() {
    var button_group = document.getElementById("verify-delete");
    button_group.classList.toggle("hide");
  }
</script>
{% endblock %}